
<h1 class="title">Bienvenido a Asoc. Mex. M.D.K sede Colima</h1>

<%= link_to "Documents", documents_path %>
<br />
<%= link_to "Attendances", attendances_path %>
<br />
<%= link_to "Groups", groups_path %>
