<h1 class="subtitle">Editing group</h1>

<%= render "teachers/groups/form", group: @group, method: :patch, url: teacher_group_url(@user, @group) %>

<br>

<div>
  <%= link_to "Show this group", teacher_group_url(@user, @group) %> |
  <%= link_to "Back to groups", teacher_url(@user) %>
</div>
