<h1 class="subtitle">New group</h1>

<%= render "teachers/groups/form", group: @group, method: :post, url: teacher_groups_url(@user, @group) %>

<br>

<div>
  <%= link_to "Back to groups", teacher_url(@user) %>
</div>
