<div id="<%= dom_id resource %>">

  <p>
    <strong>Name:</strong>
    <%= resource.learning_resource.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= resource.learning_resource.description %>
  </p>

  <% if resource.learning_resource.resource.attached? %>
    <p>
      <strong>View file:</strong>
      <%= render "file_resource/resource", file_resource: resource.learning_resource %>
    </p>
  <% end %>

</div>
