<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>From time:</strong>
    <%= group.from_time %>
  </p>

  <p>
    <strong>To time:</strong>
    <%= group.to_time %>
  </p>

</div>
