<h1>Editing group</h1>

<%= render "form", user_id: @user.id, group: @group %>

<br>

<div>
  <%= link_to "Show this group", user_id: @user.id, id: @group %> |
  <%= link_to "Back to groups", user_groups_url %>
</div>
