<h1 class="subtitle">Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", user_group_url(@user, group) %>
      <br />
      <%= link_to "Take attendance", user_group_attendances_url(@user, group) %>
    </p>
    <br />
  <% end %>
</div>

<%= link_to "New group", new_user_group_url(user_id: @user.id) %>
