<%= render @group %>

<div>
  <%= link_to "Edit this group", edit_user_group_path(@user, @group) %> |
  <%= link_to "Back to groups", user_groups_url(@user) %>

  <%= button_to "Destroy this group", [@user, @group], method: :delete %>
</div>
