<div id="<%= dom_id attendance %>">
  <td>
    <%= attendance.date.strftime('%A, %d-%m-%y') %>
  </td>

  <td>
    <% if attendance.present? %>
      <strong>present</strong>
    <% else %>
      <strong>absent</strong>
    <% end %>
  </td>
</div>
