<div id="attendance_stats">
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Present</p>
        <p class="title"><%= attendance_stats[true] || 0 %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Absent</p>
        <p class="title"><%= attendance_stats[false] || 0 %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">% of attendance</p>
        <p class="title">
          <%= attendance_percent_for(attendance_stats, present: true) %> %
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">% of absence</p>
        <p class="title">
          <%= attendance_percent_for(attendance_stats, present: false) %> %
        </p>
      </div>
    </div>
  </nav>
<div>