<div class="container pt-5">
  <h1 class="title">Editing learning resource</h1>

  <%= render "form", learning_resource: @teachers_learning_resource, url: teacher_learning_resource_path(@user, @teachers_learning_resource) %>
</div>
