<div class="container pt-5">
  <h1 class="title">New learning resource</h1>

  <%= render "form", learning_resource: @teachers_learning_resource, url: teacher_learning_resources_path(@user) %>
  <br>
</div>
