<section class="hero is-success is-fullheight">

  <div class="hero-body">
    <div class="container has-text-centered">
        <%= image_tag "index3.png", alt: "AMDK logo", size:"200x200" %>
      <h1 class="title">Asoc. Mex. M.D.K</h1>
      <p class="subtitle">Sede Colima</p>

      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-sign-in-alt"></i>
        </span>
        <span>
          <% if user_signed_in?
              if current_user.teacher?%>
                <%= link_to "Go to my dashboard", teacher_path(current_user) %>
              <% else  %>
                <%= link_to "Go to my dashboard", student_path(current_user) %>
              <% end  %>
          <% else  %>
            <%= link_to "Inicia sesión", new_user_session_path %>
          <% end  %>
          para continuar
        </span>
      </span>
    </div>
  </div>
</section>

