<section class="hero is-success is-fullheight">

  <div class="hero-body">
    <div class="container has-text-centered">
        <%= image_tag "index3.png", alt: "AMDK logo", size:"200x200" %>
      <h1 class="title">Asoc. Mex. M.D.K</h1>
      <p class="subtitle">Sede Colima</p>

      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-sign-in-alt"></i>
        </span>
        <span>
          <%= link_to "Inicia sesión", new_user_session_path  %>
          para continuar
        </span>
      </span>
    </div>
  </div>
</section>

