<div id="students" class="container">

<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Student name</th>
      <th>Belt</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <%# TODO: Add SHOW entire history of this user %>
        <%= render "teachers/students/student", student: student, teacher: @user %>
      </tr>
    <% end %>
  </tbody>
</table>


  <%= will_paginate @students, renderer: RemoteLinkPagination::LinkRenderer, :class=>"is-flex is-justify-content-space-around" %>

  <div class="is-flex is-justify-content-flex-end">
    <%= link_to(teacher_url(@user), class: "button is-info is-outlined") do %>
      <span class="mr-2">Back to dashboard</span>
      <i class="fas fa-undo"></i>
    <% end%>
  </div>
</div>