<div id="students">

  <% @students.each do |student| %>
    <%= render "teachers/students/student", student: student %>
    <p>
      <%# TODO: SHOW entire history of this user %>
      <%= link_to "Show this student", teacher_student_url(@user, student) %>
      <br/>
      <%= link_to "Edit this student", edit_teacher_student_url(@user, student) %>
    </p>
    <br />
  <% end %>

  <%= link_to "Back to dashboard", teacher_url(@user) %>

</div>