<div class="container pt-5">
  <h1 class="title" >Registro de Nuevo Estudiante</h1>

  <%= render 'form', user: @user, student: @student, url: teacher_students_url(@user), method: :post %>
  <br>
</div>
