
<h1>Your learning resources</h1>

<div id="students_learning_resources">
  <% @student_learning_resources.each do |students_learning_resource| %>
    <%= render "students/students_learning_resources/students_learning_resource", resource: students_learning_resource %>
  <% end %>
</div>

<%= will_paginate @student_learning_resources, renderer: RemoteLinkPagination::LinkRenderer, :class=>"" %>
<br>
<%= link_to "Back to dashboard", student_path(@user) %>
