<div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <strong>Payments:</strong>
    </div>
      <div class="field-body">
        <div class="field">
          <% @debt.payment.each do |payment| %>
            <p class="control">
              $ <%= payment.amount %> || <%= utc_to_localtime(payment.created_at) %> <br/>
            </p>
          <% end %>
        </div>
      </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <strong>Total debt payments:</strong>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= @debt.total_debt_payments %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <strong>Pendiente:</strong>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= @debt.debt_pending %>
        </p>
      </div>
    </div>
  </div>

</div>
