
<div class="container pt-5">
  <h1 class="title"> Revision de estudiante</h1>
  <%= render @review %>

  <div class="is-flex is-justify-content-flex-end">
    <%= button_to(teacher_review_path(@user, @review), method: :delete, class: "button is-danger is-outlined ml-5") do %>
      <i class="far fa-trash-alt"></i>
      <span class="ml-2">Borrar</span>
    <% end %>
    <%= link_to(edit_teacher_review_path(@user, @review), class: "button is-success is-outlined ml-5") do %>
      <i class="far fa-edit"></i>
      <span class="ml-2">Editar</span>
    <% end %>
    <%= link_to(teacher_path(@user), class: "button is-info is-outlined ml-5") do %>
      <i class="fas fa-undo"></i>
      <span class="ml-2">Regresar</span>
    <% end %>
  </div>
  <br>
</div>
