<div id="<%= dom_id attendance %>">
  <td>
    <%= attendance.user.name %>
  </td>
  <td>
    <% if attendance.present? %>
      <strong>present</strong>
    <% else %>
      <strong>absent</strong>
    <% end %>
  </td>
</div>
