
<h1 class="subtitle">Attendances of the group <%= @group.name%> for date <%= params[:date]%></h1>

<div id="attendances">
  <% if @attendances.present? %>
    <p>
      <strong>Student name:</strong>
    </p>
    <br />
    <% @attendances.each do |attendance| %>
      <%= render attendance %>
    <% end %>
  <% else %>
    <span>Not attendance taked for this date</span>
  <% end %>
</div>

<br />
<%= link_to "Back", teacher_group_url(@user, @group) %>


