<span id="<%= dom_id file_resource %>">

  <% if file_resource.resource.attached? %>
    <%= link_to file_resource.resource.filename, file_resource.resource %>
    <br>

    <% if file_resource.resource.representable? %>
      <%= image_tag file_resource.resource.representation(resize_to_limit: [200, 200]) %>
    <% else %>
      <span>Cannot display preview</span>
    <% end %>
  <% end %>
  
</span>
