<div class="hero-head">
  <header class="navbar is-success">
    <div class="container">

      <div id="toggleNavbar" class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarMenuHeroC" class="navbar-menu has-background-success">
        <div class="navbar-end">
          <span class="navbar-item">
            <div class="columns">
              <% if user_signed_in? %>
              
                <div class="column is-flex is-justify-content-center" style="min-width: 250px;">
                  <span class="mt-2">
                    Hola <strong class="has-text-white"> <%= current_user.name %></strong>
                  </span>
                </div>
                <div class="column is-flex is-justify-content-center">
                  <%= button_to "Logout", destroy_user_session_path, :method => :delete, :class => 'button is-success is-inverted' %>
                </div>

              <% else %>
                <div class="columns">
                  <div class="column is-flex is-justify-content-center">
                    <%= link_to "Login", new_user_session_path, :class => 'button is-success is-inverted'  %>
                  </div>
                </div>
              <% end %>

            </div>
          </span>
        </div>
      </div>
    </div>
  </header>
</div>
